<p>Ваш платеж на сумму <%=@OutSum%> рублей не принят.</p>
<p>На счет <%=@InvId%></p>
<h2>Попробуйте еще раз</h2>
<%= form_tag(fine_index_path, method: "get") do%>

       <br> <%= submit_tag("Перейти на главную") %></br>
<% end %>
