
<div class="FineForm">
  <h3 >Проверка и оплата штрафов ГИБДД</h3>
  <!--p class="SpecialText" id="MotivationText">
    Больше не нужно стоять в очередях, чтобы оплачивать штрафы в банке, а потом уведомлять ГИБДД об оплате.				</p>-->
  <p class="CallToAction">Введите данные об автомобиле</p>
  <div class="Reset"></div>

  <%= form_tag(request_fine_getFine_path, method: "get") do%>
  <table class="CheckFinesForm">

        <tbody><tr class="HintRow">
          <td></td><td></td>
          <td class="Hint" rowspan="9">
            <div class="Paddings HintPlace">
              <div class="RegionHint">
                <div class="Flag" style="background-position: -22px -45px;"></div>
                <p class="Name">Краснодарский край</p>
              </div>
            </div>
          </td>
        </tr>
        <tr class="AutoNumber2 auto_number">
          <td class="FieldName">
            <div class="Paddings">
              <span class="Caption">Номер автомобиля</span>
            </div>
          </td>
          <td class="FieldValue">
            <div class="Paddings">
              <div class="LicensePlate">

                <input id="edit-auto-number" name="auto_number" type="text" class="Text Activable Hintable idleField" hintclass="SuperRegionHint" value="a123aa" default="a123aa">


                <input id="edit-region" name="region" type="text" class="Text Activable RegionNumber Hintable ui-autocomplete-input" hintclass="SuperRegionHint" value="23" default="23" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">


              </div>
              <div class="auto_number Value ErrorToggle" style="display: none;">
                <div class="Error">Заполните поле корректно</div>
              </div>

            </div>
          </td>
          <!--
          <td class="RegionHint">
              <div class="Paddings">
              </div>
          </td>
           -->
        </tr>

        <tr class="DriverLicense2 driver_license requiredSign r22 r23 r24 r25 r26 r27 r28 r29 r30 r31 r32 r33 r34 r35 r36 r52 r37 r38 r06 r39 r69 r40 r41 r42 r43 r44 r63 r45 r46 r78 r47 r48 r49 r77 r50 r51 r53 r54 r55 r56 r57 r58 r59 r60 r61 r62 r64 r65 r66 r67 r68 r70 r71 r72 r73 r74 r75 r87 r76 r01 r02 r03 r05 r07 r04 r08 r10 r11 r12 r13 r15 r09 r17 r18 r19 r20 r21 r14 r79" style="display: table-row;">
          <td class="FieldName">
            <div class="Paddings">
              <span class="Caption">Номер водительского удостоверения</span>
            </div>
          </td>
          <td class="FieldValue">
            <div class="Paddings">

              <input id="edit-driver-license" name="driver_license" type="text" class="Text Activable Hintable idleField" hintclass="DriverLicenseHint" value="12AA123456" default="12AA123456">
              <div class="driver_license Value ErrorToggle" style="display: none;">
                <div class="Error">Заполните поле корректно</div>
              </div>

            </div>
          </td>
        </tr>
        <tr class="Registration2 registration requiredSign r16" style="display: none;">
          <td class="FieldName">
            <div class="Paddings">
              <span class="Caption">Номер свидетельства о регистрации ТС</span>
            </div>
          </td>
          <td class="FieldValue">
            <div class="Paddings">

              <input id="edit-registration" name="registration" type="text" class="Text Activable Hintable idleField" hintclass="RegistrationHint" value="123456" default="123456">
              <div class="registration Value ErrorToggle" style="display: none;">
                <div class="Error">Заполните поле корректно</div>
              </div>

            </div>
          </td>
        </tr>
        <tr class="RegistrationFull2 registration_full requiredSign r22 r23 r24 r25 r26 r27 r28 r29 r30 r31 r32 r33 r34 r35 r36 r52 r37 r38 r06 r39 r69 r40 r41 r42 r43 r44 r63 r45 r46 r78 r47 r48 r49 r77 r50 r51 r53 r54 r55 r56 r57 r58 r59 r60 r61 r62 r64 r65 r66 r67 r68 r70 r71 r72 r73 r74 r75 r87 r76 r01 r02 r03 r05 r07 r04 r08 r10 r11 r12 r13 r15 r09 r17 r18 r19 r20 r21 r14 r79" style="display: table-row;">
          <td class="FieldName">
            <div class="Paddings">
              <span class="Caption">Номер свидетельства о регистрации ТС</span>
            </div>
          </td>
          <td class="FieldValue">
            <div class="Paddings">

              <input id="edit-registration-full" name="registration_full" type="text" class="Text Activable Hintable idleField" hintclass="RegistrationFullHint" value="12АА123456" default="12АА123456">
              <div class="registration_full Value ErrorToggle" style="display: none;">
                <div class="Error">Заполните поле корректно</div>
              </div>

            </div>
          </td>
        </tr>
        <!--<tr class="Subscribe2">-->
          <!--<td colspan="2">-->
            <!--<div class="Paddings">-->
              <!--<label for="edit-notification">-->
                <!--<input id="edit-notification" name="notification" type="checkbox" onchange="subscribeOnChange()">-->
                <!--Я хочу получать уведомления о новых штрафах							</label>-->
            <!--</div>-->
          <!--</td>-->
        <!--</tr>-->
        <tr class="Subscribe2 SubscribeEmail2 ShowOnSubscribe email" style="display: none;">
          <td class="FieldName">
            <div class="Paddings">
              <span class="Caption">По электронной почте</span><br><span class="SubCaption">(Это бесплатно)</span>
            </div>
          </td>
          <td class="FieldValue">
            <div class="Paddings">

              <input id="edit-email" name="email" type="text" class="Text Activable Hintable idleField" hintclass="EmailHint" value="name@email.ru" default="name@email.ru">
              <div class="email Value ErrorToggle" style="display: none;">
                <div class="Error">Заполните поле корректно</div>
              </div>


            </div>
          </td>

        </tr>
        <tr class="Check">
        <td></td>
          <td>
            <div class="Paddings">
                <%= submit_tag("Проверить штрафы",:class => 'btn btn-primary') %>
                <% end %>
            </div>
        </td>
    </tr>
    </tbody>
  </table>
  <div id="CheckNote">Вы сможете оплатить штрафы после проверки</div>

</div>
