<div id="innerContent">

<h1>Кодекс административных правонарушений</h1>

<table class="table table-striped">
<thead
<tbody><tr class="TextTableHeader">
  <td width="90"><div class="LeftBg">Статья</div></td>
  <td width="290"><div class="CenterBg">Правонарушение</div></td>
  <td width="220"><div class="RightBg">Ответственность</div></td>
</tr>
</thead>
<tr class="views-row-odd ">
  <td class="RowArticle">8.23</td>
  <td>
    Эксплуатация транспортных средств с превышением загрязняющих веществ или уровня шума					<div class="Links">
    <a href="/koap/481507">Полный текст</a>
    <span></span>
    <a href="/koap/481507#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере от <b>100</b> до <b>300</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.1 ч.1</td>
  <td>
    ТС не зарегистрировано в установленном порядке					<div class="Links">
    <a href="/koap/1021">Полный текст</a>
    <span></span>
    <a href="/koap/1021#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>300</b> до <b>800</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.1 ч.2</td>
  <td>
    Управление легковым такси, автобусом или грузовым автомобилем без ГТО или ТО					<div class="Links">
    <a href="/koap/1034">Полный текст</a>
    <span></span>
    <a href="/koap/1034#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>500</b> до <b>800</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.2 ч.1</td>
  <td>
    Нечитаемые, нестандартные или установленные с нарушением номера					<div class="Links">
    <a href="/koap/1035">Полный текст</a>
    <span></span>
    <a href="/koap/1035#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.2 ч.2</td>
  <td>
    Управление ТС без номеров, или без номеров, установленных на предусмотренные для этого места, или с номерами, оборудованными с применением материалов, затрудняющих их идентификацию					<div class="Links">
    <a href="/koap/1054">Полный текст</a>
    <span></span>
    <a href="/koap/1054#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 1 до 3 месяцев</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.2 ч.3</td>
  <td>
    Установка заведомо подложных номеров					<div class="Links">
    <a href="/koap/1048">Полный текст</a>
    <span></span>
    <a href="/koap/1048#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.2 ч.4</td>
  <td>
    Управление ТС с заведомо подложными номерами					<div class="Links">
    <a href="/koap/481795">Полный текст</a>
    <span></span>
    <a href="/koap/481795#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 6 месяцев до 1 года</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.3 ч. 1</td>
  <td>
    Управление ТС без свидетельства о регистрации, ПТС или доверенности					<div class="Links">
    <a href="/koap/106">Полный текст</a>
    <span></span>
    <a href="/koap/106#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.3 ч.2</td>
  <td>
    Нет при себе талона ГТО или полиса ОСАГО					<div class="Links">
    <a href="/koap/107">Полный текст</a>
    <span></span>
    <a href="/koap/107#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.3 ч.2.1</td>
  <td>
    Отсутствие при себе разрешения при перевозке людей и багажа на легковом такси					<div class="Links">
    <a href="/koap/481797">Полный текст</a>
    <span></span>
    <a href="/koap/481797#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.3 ч.3</td>
  <td>
    Передача управления ТС лицу, не имеющему при себе документов на право управления им					<div class="Links">
    <a href="/koap/105">Полный текст</a>
    <span></span>
    <a href="/koap/105#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.4 ч.1</td>
  <td>
    Установка на передней части автомобиля световых приборов с огнями красного цвета, а равно свет приборов, цвет огней и режим работы которых не соответствуют Основным положениям по допуску ТС					<div class="Links">
    <a href="/koap/1049">Полный текст</a>
    <span></span>
    <a href="/koap/1049#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.4 ч.2</td>
  <td>
    Установка на автомобиль без соответствующего разрешения устройств для подачи специальных световых или звуковых сигналов (за исключением охранной сигнализации)					<div class="Links">
    <a href="/koap/1050">Полный текст</a>
    <span></span>
    <a href="/koap/1050#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.4 ч.3</td>
  <td>
    Незаконное нанесение на автомобиль цветографических схем автомобилей оперативных служб или легкового такси					<div class="Links">
    <a href="/koap/1051">Полный текст</a>
    <span></span>
    <a href="/koap/1051#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.5 ч.1</td>
  <td>
    Управление ТС при наличии неисправностей					<div class="Links">
    <a href="/koap/104">Полный текст</a>
    <span></span>
    <a href="/koap/104#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.5 ч.2</td>
  <td>
    Управление ТС с заведомо неисправными тормозной системой (за исключением стояночного тормоза), рулевым управлением или сцепным устройством					<div class="Links">
    <a href="/koap/1022">Полный текст</a>
    <span></span>
    <a href="/koap/1022#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>300</b> до <b>500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.5 ч.3</td>
  <td>
    Управление ТС с установленными на передней части световыми приборами красного цвета и иными, которые не соответствуют требованиям по допуску ТС к эксплуатации					<div class="Links">
    <a href="/koap/482726">Полный текст</a>
    <span></span>
    <a href="/koap/482726#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от шести месяцев до одного года</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.5 ч.3.1</td>
  <td>
    Светопропускаемость (тонировка) стекол не соответствует техрегламенту					<div class="Links">
    <a href="/koap/1036">Полный текст</a>
    <span></span>
    <a href="/koap/1036#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.5 ч.4</td>
  <td>
    Управление ТС с установленными без разрешения устройствами для подачи специальных звуковых и световых сигналов (кроме охранной сигнализации)					<div class="Links">
    <a href="/koap/482736">Полный текст</a>
    <span></span>
    <a href="/koap/482736#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1 года до 1,5 лет</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.5 ч.4.1</td>
  <td>
    Управление транспортным средством, на котором незаконно установлен опознавательный фонарь легкового такси					<div class="Links">
    <a href="/koap/482739">Полный текст</a>
    <span></span>
    <a href="/koap/482739#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.5 ч.5</td>
  <td>
    Использование при движении ТС устройств для подачи специальных световых или звуковых сигналов (за исключением охранной сигнализации), установленных без соответствующего разрешения
    <div class="Links">
      <a href="/koap/482743">Полный текст</a>
      <span></span>
      <a href="/koap/482743#comments">Обсуждение</a>
    </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1,5 лет до 2 лет</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.5 ч.6</td>
  <td>
    Управление ТС, на наружные поверхности которого незаконно нанесены специальные цветографические схемы автомобилей оперативных служб
    <div class="Links">
      <a href="/koap/482748">Полный текст</a>
      <span></span>
      <a href="/koap/482748#comments">Обсуждение</a>
    </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1 года до 1,5 лет</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.5 ч.7</td>
  <td>
    Управление ТС, на которое незаконно нанесена цветографическая схема легкового такси					<div class="Links">
    <a href="/koap/482750">Полный текст</a>
    <span></span>
    <a href="/koap/482750#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.6</td>
  <td>
    Нарушение правил применения ремней безопасности или мотошлемов					<div class="Links">
    <a href="/koap/1037">Полный текст</a>
    <span></span>
    <a href="/koap/1037#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.7 ч.1</td>
  <td>
    Управление ТС водителем, не имеющим прав (за исключением учебной езды)					<div class="Links">
    <a href="/koap/482777">Полный текст</a>
    <span></span>
    <a href="/koap/482777#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.7 ч.2</td>
  <td>
    Управление автомобилем водителем, лишенным права управления ТС					<div class="Links">
    <a href="/koap/1055">Полный текст</a>
    <span></span>
    <a href="/koap/1055#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.7 ч.3</td>
  <td>
    Передача управления ТС лицу, заведомо не имеющему права управления ТС (за исключением учебной езды), или лишенному такого права					<div class="Links">
    <a href="/koap/1052">Полный текст</a>
    <span></span>
    <a href="/koap/1052#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.8 ч.1</td>
  <td>
    Управление транспортным средством водителем, находящимся в состоянии опьянения					<div class="Links">
    <a href="/koap/482794">Полный текст</a>
    <span></span>
    <a href="/koap/482794#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1,5 лет до 2 лет</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.8 ч.2</td>
  <td>
    Передача управления ТС лицу, находящемуся в состоянии опьянения					<div class="Links">
    <a href="/koap/482817">Полный текст</a>
    <span></span>
    <a href="/koap/482817#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1,5 до 2 лет</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.8 ч.3</td>
  <td>
    Управление ТС в состоянии опьянения и не имеющим прав управления ТС, либо лишенным права управления ТС. 					<div class="Links">
    <a href="/koap/482818">Полный текст</a>
    <span></span>
    <a href="/koap/482818#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.8 ч.4</td>
  <td>
    Повторное совершение административного правонарушения, предусмотренного частью 1 или 2 статьи 12.8					<div class="Links">
    <a href="/koap/482820">Полный текст</a>
    <span></span>
    <a href="/koap/482820#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>3 года </b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.9 ч.1</td>
  <td>
    Превышение установленной скорости на 10-20 км/ч.					<div class="Links">
    <a href="/koap/108">Полный текст</a>
    <span></span>
    <a href="/koap/108#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.9 ч.2</td>
  <td>
    Превышение установленной скорости на 20-40 км/ч					<div class="Links">
    <a href="/koap/1024">Полный текст</a>
    <span></span>
    <a href="/koap/1024#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>300</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.9 ч.3</td>
  <td>
    Превышение скорости на 40-60 км/ч					<div class="Links">
    <a href="/koap/9">Полный текст</a>
    <span></span>
    <a href="/koap/9#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1000</b> до <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.9 ч.4</td>
  <td>
    Превышение скорости более чем на 60 км/ч					<div class="Links">
    <a href="/koap/1053">Полный текст</a>
    <span></span>
    <a href="/koap/1053#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>2000</b> до <b>2500</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 4 до 6 месяцев</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.10 ч.1</td>
  <td>
    Грубое нарушение правил проезда ж/д переезда. Остановка или стоянка на ж/д переезде					<div class="Links">
    <a href="/koap/1038">Полный текст</a>
    <span></span>
    <a href="/koap/1038#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>500</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 3 до 6 месяцев</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.10 ч.2</td>
  <td>
    Нарушение правила проезда через ж/д переезды					<div class="Links">
    <a href="/koap/103">Полный текст</a>
    <span></span>
    <a href="/koap/103#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.10 ч.3</td>
  <td>
    Повторное нарушение правил проезда ж/д переезда. Повторная остановка или стоянка на ж/д переезде					<div class="Links">
    <a href="/koap/482852">Полный текст</a>
    <span></span>
    <a href="/koap/482852#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>1 год</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.11 ч.1</td>
  <td>
    Движение по автомагистрали со скоростью ниже 40 км/ч или остановка на автомагистрали вне специальных площадок.					<div class="Links">
    <a href="/koap/482919">Полный текст</a>
    <span></span>
    <a href="/koap/482919#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.11 ч.2</td>
  <td>
    Движение на грузовом автомобиле с разрешенной максимальной массой более 3,5 тонны по автомагистрали далее второй полосы, а равно учебная езда по автомагистрали					<div class="Links">
    <a href="/koap/482922">Полный текст</a>
    <span></span>
    <a href="/koap/482922#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.11 ч.3</td>
  <td>
    Разворот или въезд ТС в технологические разрывы разделительной полосы на автомагистрали либо движение задним ходом по автомагистрали					<div class="Links">
    <a href="/koap/482923">Полный текст</a>
    <span></span>
    <a href="/koap/482923#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>300</b> до <b>500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.12 ч.1</td>
  <td>
    Проезд на запрещающий сигнал светофора или запрещающий жест регулировщика					<div class="Links">
    <a href="/koap/1039">Полный текст</a>
    <span></span>
    <a href="/koap/1039#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.12 ч.2</td>
  <td>
    Невыполнение правил ПДД об остановке перед стоп-линией					<div class="Links">
    <a href="/koap/482932">Полный текст</a>
    <span></span>
    <a href="/koap/482932#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>800</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.13 ч.1</td>
  <td>
    Выезд на перекресток во время затора и помешал поперечному движению					<div class="Links">
    <a href="/koap/101">Полный текст</a>
    <span></span>
    <a href="/koap/101#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.13 ч.2</td>
  <td>
    Не уступил дорогу ТС, пользующемуся преимущественным правом проезда перекрестков					<div class="Links">
    <a href="/koap/1015">Полный текст</a>
    <span></span>
    <a href="/koap/1015#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.14 ч.1</td>
  <td>
    Не подал сигнал (поворотник) перед началом движения, перестроением, поворотом, разворотом или остановкой					<div class="Links">
    <a href="/koap/102">Полный текст</a>
    <span></span>
    <a href="/koap/102#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.14 ч.1.1</td>
  <td>
    Не перестроился перед поворотом, разворотом, остановкой					<div class="Links">
    <a href="/koap/1013">Полный текст</a>
    <span></span>
    <a href="/koap/1013#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.14 ч.2</td>
  <td>
    Разворот или движение задним ходом					<div class="Links">
    <a href="/koap/1012">Полный текст</a>
    <span></span>
    <a href="/koap/1012#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.14 ч. 3</td>
  <td>
    Не уступил дорогу					<div class="Links">
    <a href="/koap/1014">Полный текст</a>
    <span></span>
    <a href="/koap/1014#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.15 ч.1</td>
  <td>
    Нарушение правил встречного разъезда, расположения на дороге или движение по обочинам					<div class="Links">
    <a href="/koap/1033">Полный текст</a>
    <span></span>
    <a href="/koap/1033#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.15 ч.2</td>
  <td>
    Движение по велосипедным или пешеходным дорожкам либо тротуарам					<div class="Links">
    <a href="/koap/1047">Полный текст</a>
    <span></span>
    <a href="/koap/1047#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.15 ч.3</td>
  <td>
    Выезд на встречную полосу при объезде препятствия					<div class="Links">
    <a href="/koap/1043">Полный текст</a>
    <span></span>
    <a href="/koap/1043#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1000</b> до <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.15 ч.4</td>
  <td>
    Выезд на встречную полосу, либо на трамвайные пути встречного направления					<div class="Links">
    <a href="/koap/1070">Полный текст</a>
    <span></span>
    <a href="/koap/1070#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 4 до 6 месяцев</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.15 ч.5</td>
  <td>
    Повторный выезд на встречную полосу, либо на трамвайные пути встречного направления					<div class="Links">
    <a href="/koap/483019">Полный текст</a>
    <span></span>
    <a href="/koap/483019#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>1 год</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.16 ч.1</td>
  <td>
    Несоблюдение правил разметки и дорожных знаком, если другие статьи не нарушены					<div class="Links">
    <a href="/koap/1023">Полный текст</a>
    <span></span>
    <a href="/koap/1023#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>300</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.16 ч.2</td>
  <td>
    Повернул налево или развернулся в нарушение требований знаков или разметки проезжей части					<div class="Links">
    <a href="/koap/1044">Полный текст</a>
    <span></span>
    <a href="/koap/1044#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1000</b> до <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.16 ч.3</td>
  <td>
    Движение во встречном направлении по дороге с односторонним движением					<div class="Links">
    <a href="/koap/483690">Полный текст</a>
    <span></span>
    <a href="/koap/483690#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 4 до 6 месяцев</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.16 ч.3.1</td>
  <td>
    Повторное совершение административного правонарушения - движение во встречном направлении по дороге с односторонним движением					<div class="Links">
    <a href="/koap/483693">Полный текст</a>
    <span></span>
    <a href="/koap/483693#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>1 год</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.16 ч.4</td>
  <td>
    Несоблюдение требований, предписанных дорожными знаками или разметкой, запрещающими остановку или стоянку.					<div class="Links">
    <a href="/koap/483705">Полный текст</a>
    <span></span>
    <a href="/koap/483705#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.16 ч.5</td>
  <td>
    Несоблюдение требований, предписанных дорожными знаками или разметкой, запрещающими остановку или стоянку в Москве или Санкт-Петербурге.					<div class="Links">
    <a href="/koap/483723">Полный текст</a>
    <span></span>
    <a href="/koap/483723#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>3000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.17 ч.1.1</td>
  <td>
    Движение и остановка ТС на полосе для маршрутных ТС					<div class="Links">
    <a href="/koap/1056">Полный текст</a>
    <span></span>
    <a href="/koap/1056#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.17 ч.1</td>
  <td>
    Не уступил дорогу ТС с синим маячком и звуковым сигналом					<div class="Links">
    <a href="/koap/1020">Полный текст</a>
    <span></span>
    <a href="/koap/1020#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>100</b> до <b>300</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.17 ч.1.2</td>
  <td>
    Движение и остановка ТС на полосе для маршрутных ТС в г.Москва и г.Санкт-Петербург					<div class="Links">
    <a href="/koap/483965">Полный текст</a>
    <span></span>
    <a href="/koap/483965#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>3000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.17 ч.2</td>
  <td>
    Не уступил ТС с цетовыми обозначениями, проблесковым маячком и звуковым сигналом					<div class="Links">
    <a href="/koap/1032">Полный текст</a>
    <span></span>
    <a href="/koap/1032#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>300</b> до <b>500</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 1 до 3 месяцев</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.18</td>
  <td>
    Не уступил дорогу пешеходам, велосипедистам					<div class="Links">
    <a href="/koap/1040">Полный текст</a>
    <span></span>
    <a href="/koap/1040#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>800</b> до <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.19 ч.1</td>
  <td>
    Нарушение правил остановки или стоянки ТС, кроме случаев ч.1 ст.12.10 и ч.2-4 ст.12.19					<div class="Links">
    <a href="/koap/1017">Полный текст</a>
    <span></span>
    <a href="/koap/1017#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>300</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.19 ч.2</td>
  <td>
    Остановка в месте, отведенном для остановки или стоянки ТС инвалидов					<div class="Links">
    <a href="/koap/1019">Полный текст</a>
    <span></span>
    <a href="/koap/1019#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>3000</b> до <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.19 ч.3</td>
  <td>
    Остановка или стоянка ТС на пешеходном переходе. Остановка или стоянка ТС на тротуаре, повлекшее создание препятствий для движения пешеходов					<div class="Links">
    <a href="/koap/1025">Полный текст</a>
    <span></span>
    <a href="/koap/1025#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.19 ч.3.1</td>
  <td>
    Остановка или стоянка ТС в местах остановки маршрутных ТС или ближе 15 метров от мест остановки					<div class="Links">
    <a href="/koap/483978">Полный текст</a>
    <span></span>
    <a href="/koap/483978#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.19 ч.3.2</td>
  <td>
    Остановка или стоянка ТС на трамвайных путях или стоянка ТС далее первого ряда от края проезжей части.					<div class="Links">
    <a href="/koap/484039">Полный текст</a>
    <span></span>
    <a href="/koap/484039#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.19 ч.4</td>
  <td>
    Остановка или стоянка на проезжей части, повлекшее создание препятствий для движения других ТС. Остановка или стоянка ТС в тоннеле					<div class="Links">
    <a href="/koap/1026">Полный текст</a>
    <span></span>
    <a href="/koap/1026#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.19 ч.5</td>
  <td>
    Нарушение правил остановки или стоянки ТС, кроме случаев ч.1 ст.12.10 и ч.2-4 ст.12.19 в г. Москва и г. Санкт-Петербург					<div class="Links">
    <a href="/koap/484057">Полный текст</a>
    <span></span>
    <a href="/koap/484057#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.19 ч.6</td>
  <td>
    Нарушения, предусмотренные частями 3-4 настоящей статьи, совершенные в городе федерального значения Москве или Санкт-Петербурге					<div class="Links">
    <a href="/koap/484059">Полный текст</a>
    <span></span>
    <a href="/koap/484059#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>3000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.20</td>
  <td>
    Не установил аварийный знак, не включил свет, аварийку.					<div class="Links">
    <a href="/koap/1016">Полный текст</a>
    <span></span>
    <a href="/koap/1016#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.21 ч.1</td>
  <td>
    Нарушение правил перевозки грузов, а равно правил буксировки					<div class="Links">
    <a href="/koap/486047">Полный текст</a>
    <span></span>
    <a href="/koap/486047#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.21.1 ч.1</td>
  <td>
    Перевозка крупногабаритных и тяжеловесных грузов без спец.разрешения и пропуска, а равно с отклонением от указанного маршрута					<div class="Links">
    <a href="/koap/1011">Полный текст</a>
    <span></span>
    <a href="/koap/1011#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>2000</b> до <b>2500</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 4 до 6 месяцев</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.21.1 ч.2</td>
  <td>
    Перевозка крупногабаритных грузов с превышением габаритов, указанных в специальном разрешении, более чем на 10 сантиметров					<div class="Links">
    <a href="/koap/486084">Полный текст</a>
    <span></span>
    <a href="/koap/486084#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1500</b> до <b>2000</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 2 до 4 месяцев</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.21.1 ч.3</td>
  <td>
    Перевозка тяжеловесных грузов с превышением разрешенных максимальной массы или нагрузки на ось, более чем на 5 процентов					<div class="Links">
    <a href="/koap/486113">Полный текст</a>
    <span></span>
    <a href="/koap/486113#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1500</b> до <b>2000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.21.1 ч.3.1</td>
  <td>
    Предоставление грузоотправителем недостоверных сведений о массе и габаритах груза					<div class="Links">
    <a href="/koap/486118">Полный текст</a>
    <span></span>
    <a href="/koap/486118#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.21.1 ч.4</td>
  <td>
    Нарушение правил перевозки крупногабаритных и тяжеловесных грузов, за исключением случаев, предусмотренных частями 1-3 настоящей статьи					<div class="Links">
    <a href="/koap/486124">Полный текст</a>
    <span></span>
    <a href="/koap/486124#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1000</b> до <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.21.1 ч.5</td>
  <td>
    Проезд ТС с превышением массы, предписанной дорожными знаками					<div class="Links">
    <a href="/koap/486128">Полный текст</a>
    <span></span>
    <a href="/koap/486128#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>2000</b> до <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.21.2 ч.1</td>
  <td>
    Перевозка опасных грузов водителем, не имеющим свидетельства о соответствующей подготовке водителей, свидетельства о допуске ТС к перевозке опасных грузов, согласованного маршрута или аварийной карточки системы информации об опасности, а равно перевозка опасных грузов на ТС, не предназначенном для перевозки данного вида грузов.					<div class="Links">
    <a href="/koap/486153">Полный текст</a>
    <span></span>
    <a href="/koap/486153#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>2000</b> до <b>2500</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 4 до 6 месяцев</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.21.2 ч.2</td>
  <td>
    Нарушение правил перевозки опасных грузов, за исключением случаев, предусмотренных частью 1 настоящей статьи					<div class="Links">
    <a href="/koap/486156">Полный текст</a>
    <span></span>
    <a href="/koap/486156#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1000</b> до <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.22</td>
  <td>
    Нарушение правил учебной езды водителем, обучающим вождению ТС					<div class="Links">
    <a href="/koap/109">Полный текст</a>
    <span></span>
    <a href="/koap/109#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.23 ч.1</td>
  <td>
    Нарушение правил перевозки людей					<div class="Links">
    <a href="/koap/1031">Полный текст</a>
    <span></span>
    <a href="/koap/1031#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.23 ч.2</td>
  <td>
    Перевозка людей вне кабины или вне предусмотренных конструкцией мест для сидения					<div class="Links">
    <a href="/koap/1030">Полный текст</a>
    <span></span>
    <a href="/koap/1030#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>500</b> до <b>700</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.24 ч.1</td>
  <td>
    Нарушение ПДД или правил эксплуатации ТС, повлекшее причинение легкого вреда здоровью потерпевшего					<div class="Links">
    <a href="/koap/1042">Полный текст</a>
    <span></span>
    <a href="/koap/1042#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1000</b> до <b>1500</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 1 года до 1,5 лет</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.24 ч.2</td>
  <td>
    Нарушение ПДД или правил эксплуатации ТС, повлекшее причинение средней тяжести вреда здоровью потерпевшего					<div class="Links">
    <a href="/koap/1046">Полный текст</a>
    <span></span>
    <a href="/koap/1046#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>2000</b> до <b>2500</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 2 до 2,5 лет</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.25 ч.1</td>
  <td>
    Не предоставил ТС сотрудникам полиции					<div class="Links">
    <a href="/koap/1010">Полный текст</a>
    <span></span>
    <a href="/koap/1010#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>100</b> до <b>200</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.25 ч.2</td>
  <td>
    Невыполнение законного требования сотрудника полиции об остановке ТС					<div class="Links">
    <a href="/koap/1018">Полный текст</a>
    <span></span>
    <a href="/koap/1018#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>200</b> до <b>500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.25 ч.3</td>
  <td>
    Невыполнение законного требования должностного лица военной автомобильной инспекции об остановке транспортного средства Вооруженных Сил Российской Федерации, внутренних войск Министерства внутренних дел Российской Федерации, инженерно-технических, дорожно-строительных воинских формирований при федеральных органах исполнительной власти или спасательных воинских формирований федерального органа исполнительной власти, уполномоченного на решение задач в области гражданской обороны					<div class="Links">
    <a href="/koap/486177">Полный текст</a>
    <span></span>
    <a href="/koap/486177#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере от <b>200</b> до <b>500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.26 ч.1</td>
  <td>
    Невыполнение водителем законного требования сотрудника полиции о прохождении медицинского освидетельствования на состояние опьянения					<div class="Links">
    <a href="/koap/486181">Полный текст</a>
    <span></span>
    <a href="/koap/486181#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1,5 до 2 лет</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.26 ч.2</td>
  <td>
    Невыполнение водителем, не имеющим права управления ТС либо лишенным права управления ТС, законного требования сотрудника полиции о прохождении медицинского освидетельствования на состояние опьянения					<div class="Links">
    <a href="/koap/486187">Полный текст</a>
    <span></span>
    <a href="/koap/486187#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.27 ч.1</td>
  <td>
    Не выполнил свои обязанности при ДТП					<div class="Links">
    <a href="/koap/1041">Полный текст</a>
    <span></span>
    <a href="/koap/1041#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.27 ч.2</td>
  <td>
    Оставление водителем в нарушение ПДД места дорожно-транспортного происшествия, участником которого он являлся					<div class="Links">
    <a href="/koap/486198">Полный текст</a>
    <span></span>
    <a href="/koap/486198#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1 года до 1,5 лет</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.27 ч.3</td>
  <td>
    Невыполнение требования ПДД о запрещении водителю употреблять алкогольные напитки, наркотические или психотропные вещества после ДТП, к которому он причастен, либо после того, как ТС было остановлено по требованию сотрудника полиции, до проведения освидетельствования в целях установления состояния опьянения или до принятия решения об освобождении от проведения такого освидетельствования					<div class="Links">
    <a href="/koap/486199">Полный текст</a>
    <span></span>
    <a href="/koap/486199#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1,5 до 2 лет</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.28 ч.1</td>
  <td>
    Нарушение правил, установленных для движения ТС в жилых зонах					<div class="Links">
    <a href="/koap/1029">Полный текст</a>
    <span></span>
    <a href="/koap/1029#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.28 ч.2</td>
  <td>
    Нарушение правил, установленных для движения ТС в жилых зонах в г. Москва и г. Санкт-Петербург					<div class="Links">
    <a href="/koap/486230">Полный текст</a>
    <span></span>
    <a href="/koap/486230#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>3000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.29 ч.1</td>
  <td>
    Нарушение пешеходом или пассажиром ТС ПДД 					<div class="Links">
    <a href="/koap/486232">Полный текст</a>
    <span></span>
    <a href="/koap/486232#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>200</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.29 ч.2 </td>
  <td>
    Нарушение ПДД лицом, управляющим мопедом, велосипедом, либо возчиком или другим лицом, непосредственно участвующим в процессе дорожного движения					<div class="Links">
    <a href="/koap/486254">Полный текст</a>
    <span></span>
    <a href="/koap/486254#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>200</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.29 ч.3</td>
  <td>
    Нарушение ПДД лицом, управляющим мопедом, велосипедом, либо возчиком или другим лицом, непосредственно участвующим в процессе дорожного движения, совершенное в состоянии опьянения					<div class="Links">
    <a href="/koap/486256">Полный текст</a>
    <span></span>
    <a href="/koap/486256#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>300</b> до <b>500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.30 ч.1</td>
  <td>
    Нарушение ПДД пешеходом, пассажиром ТС или иным участником дорожного движения (за исключением водителя ТС), повлекшее создание помех в движении ТС					<div class="Links">
    <a href="/koap/486264">Полный текст</a>
    <span></span>
    <a href="/koap/486264#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>300</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.30 ч.2</td>
  <td>
    Нарушение ПДД пешеходом, пассажиром ТС или иным участником дорожного движения (за исключением водителя ТС), повлекшее по неосторожности причинение легкого или средней тяжести вреда здоровью потерпевшего					<div class="Links">
    <a href="/koap/486269">Полный текст</a>
    <span></span>
    <a href="/koap/486269#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1000</b> до <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.31 ч.1</td>
  <td>
    Выпуск на линию ТС, не зарегистрированного в установленном порядке или не прошедшего ТО					<div class="Links">
    <a href="/koap/488030">Полный текст</a>
    <span></span>
    <a href="/koap/488030#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.31.1 ч.1</td>
  <td>
    Осуществление перевозок пассажиров и багажа, грузов автомобильным транспортом и городским наземным электрическим транспортом с нарушением профессиональных и квалификационных требований, предъявляемых к работникам					<div class="Links">
    <a href="/koap/488075">Полный текст</a>
    <span></span>
    <a href="/koap/488075#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>20000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.31.1 ч.2</td>
  <td>
    Осуществление перевозок пассажиров и багажа, грузов автомобильным транспортом и городским наземным электрическим транспортом без предрейсовых и послерейсовых медицинских осмотров водителей ТС					<div class="Links">
    <a href="/koap/488077">Полный текст</a>
    <span></span>
    <a href="/koap/488077#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>3000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.31.1 ч.3</td>
  <td>
    Осуществление перевозок пассажиров и багажа, грузов автомобильным транспортом и городским наземным электрическим транспортом без предрейсового контроля технического состояния транспортных средств					<div class="Links">
    <a href="/koap/488080">Полный текст</a>
    <span></span>
    <a href="/koap/488080#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>3000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.31 ч.2</td>
  <td>
    Выпуск на линию ТС, имеющего неисправности, с которыми запрещена эксплуатация, или переоборудованного без соответствующего разрешения					<div class="Links">
    <a href="/koap/488033">Полный текст</a>
    <span></span>
    <a href="/koap/488033#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>500</b> до <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.31 ч.3</td>
  <td>
    Выпуск на линию ТС с подложными регистрационными знаками либо с установленными на передней его части световыми приборами с огнями,  режим работы которых не соответствуют требованиям Основных положений по допуску ТС к эксплуатации					<div class="Links">
    <a href="/koap/488036">Полный текст</a>
    <span></span>
    <a href="/koap/488036#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>15000</b> до <b>20000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.31 ч.4</td>
  <td>
    Выпуск на линию ТС с установленными на нем без разрешения устройствами для подачи специальных световых или звуковых сигналов (за исключением охранной сигнализации), а равно с незаконно нанесенными на его поверхности специальными цветографическими схемами автомобилей оперативных служб					<div class="Links">
    <a href="/koap/488049">Полный текст</a>
    <span></span>
    <a href="/koap/488049#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>20000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.32</td>
  <td>
    Допуск к управлению ТС водителя, находящегося в состоянии опьянения либо не имеющего права управления ТС					<div class="Links">
    <a href="/koap/488491">Полный текст</a>
    <span></span>
    <a href="/koap/488491#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>20000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.33</td>
  <td>
    Повреждение дорог, железнодорожных переездов или других дорожных сооружений					<div class="Links">
    <a href="/koap/488496">Полный текст</a>
    <span></span>
    <a href="/koap/488496#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.34</td>
  <td>
    Несоблюдение требований по обеспечению безопасности дорожного движения при ремонте и содержании дорог, железнодорожных переездов или других дорожных сооружений					<div class="Links">
    <a href="/koap/488502">Полный текст</a>
    <span></span>
    <a href="/koap/488502#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>2000</b> до <b>3000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.35</td>
  <td>
    Незаконное ограничение прав на управление транспортным средством и его эксплуатацию					<div class="Links">
    <a href="/koap/488504">Полный текст</a>
    <span></span>
    <a href="/koap/488504#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.36.1</td>
  <td>
    Нарушение правил пользования телефоном водителем транспортного средства					<div class="Links">
    <a href="/koap/1027">Полный текст</a>
    <span></span>
    <a href="/koap/1027#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>300</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.37 ч.1</td>
  <td>
    Управление в период, когда ОСАГО не действует или управление автомобилем лицом, не записанным в полис.					<div class="Links">
    <a href="/koap/1028">Полный текст</a>
    <span></span>
    <a href="/koap/1028#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>300</b> рублей				</td>
</tr>
<tr class="views-row-odd views-row-last">
  <td class="RowArticle">12.37 ч.2</td>
  <td>
    Неисполнение обязанности по страхованию автогражданской ответственности, управление ТС без ОСАГО					<div class="Links">
    <a href="/koap/488509">Полный текст</a>
    <span></span>
    <a href="/koap/488509#comments">Обсуждение</a>
  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>500</b> до <b>800</b> рублей				</td>
</tr>
</tbody></table>
<div class="Reset"></div>			</div>