<div id="innerContent">

<h3>Кодекс административных правонарушений</h3>

<table class="table table-striped">
<tbody>
<thead>
<tr class="TextTableHeader">
  <td width="90"><div class="LeftBg">Статья</div></td>
  <td width="290"><div class="CenterBg">Правонарушение</div></td>
  <td width="220"><div class="RightBg">Ответственность</div></td>
</tr>
</thead>
<tr class="views-row-odd ">
  <td class="RowArticle">8.23</td>
  <td>
    Эксплуатация транспортных средств с превышением загрязняющих веществ или уровня шума					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере от <b>100</b> до <b>300</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.1 ч.1</td>
  <td>
    ТС не зарегистрировано в установленном порядке					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>300</b> до <b>800</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.1 ч.2</td>
  <td>
    Управление легковым такси, автобусом или грузовым автомобилем без ГТО или ТО					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>500</b> до <b>800</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.2 ч.1</td>
  <td>
    Нечитаемые, нестандартные или установленные с нарушением номера					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.2 ч.2</td>
  <td>
    Управление ТС без номеров, или без номеров, установленных на предусмотренные для этого места, или с номерами, оборудованными с применением материалов, затрудняющих их идентификацию					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 1 до 3 месяцев</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.2 ч.3</td>
  <td>
    Установка заведомо подложных номеров					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.2 ч.4</td>
  <td>
    Управление ТС с заведомо подложными номерами					<div class="Links">

  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 6 месяцев до 1 года</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.3 ч. 1</td>
  <td>
    Управление ТС без свидетельства о регистрации, ПТС или доверенности					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.3 ч.2</td>
  <td>
    Нет при себе талона ГТО или полиса ОСАГО					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.3 ч.2.1</td>
  <td>
    Отсутствие при себе разрешения при перевозке людей и багажа на легковом такси					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.3 ч.3</td>
  <td>
    Передача управления ТС лицу, не имеющему при себе документов на право управления им					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.4 ч.1</td>
  <td>
    Установка на передней части автомобиля световых приборов с огнями красного цвета, а равно свет приборов, цвет огней и режим работы которых не соответствуют Основным положениям по допуску ТС					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.4 ч.2</td>
  <td>
    Установка на автомобиль без соответствующего разрешения устройств для подачи специальных световых или звуковых сигналов (за исключением охранной сигнализации)					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.4 ч.3</td>
  <td>
    Незаконное нанесение на автомобиль цветографических схем автомобилей оперативных служб или легкового такси					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.5 ч.1</td>
  <td>
    Управление ТС при наличии неисправностей					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.5 ч.2</td>
  <td>
    Управление ТС с заведомо неисправными тормозной системой (за исключением стояночного тормоза), рулевым управлением или сцепным устройством					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>300</b> до <b>500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.5 ч.3</td>
  <td>
    Управление ТС с установленными на передней части световыми приборами красного цвета и иными, которые не соответствуют требованиям по допуску ТС к эксплуатации					<div class="Links">

  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от шести месяцев до одного года</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.5 ч.3.1</td>
  <td>
    Светопропускаемость (тонировка) стекол не соответствует техрегламенту					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.5 ч.4</td>
  <td>
    Управление ТС с установленными без разрешения устройствами для подачи специальных звуковых и световых сигналов (кроме охранной сигнализации)					<div class="Links">

  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1 года до 1,5 лет</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.5 ч.4.1</td>
  <td>
    Управление транспортным средством, на котором незаконно установлен опознавательный фонарь легкового такси					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.5 ч.5</td>
  <td>
    Использование при движении ТС устройств для подачи специальных световых или звуковых сигналов (за исключением охранной сигнализации), установленных без соответствующего разрешения
    <div class="Links">

    </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1,5 лет до 2 лет</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.5 ч.6</td>
  <td>
    Управление ТС, на наружные поверхности которого незаконно нанесены специальные цветографические схемы автомобилей оперативных служб
    <div class="Links">

    </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1 года до 1,5 лет</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.5 ч.7</td>
  <td>
    Управление ТС, на которое незаконно нанесена цветографическая схема легкового такси					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.6</td>
  <td>
    Нарушение правил применения ремней безопасности или мотошлемов					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.7 ч.1</td>
  <td>
    Управление ТС водителем, не имеющим прав (за исключением учебной езды)					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.7 ч.2</td>
  <td>
    Управление автомобилем водителем, лишенным права управления ТС					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.7 ч.3</td>
  <td>
    Передача управления ТС лицу, заведомо не имеющему права управления ТС (за исключением учебной езды), или лишенному такого права					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.8 ч.1</td>
  <td>
    Управление транспортным средством водителем, находящимся в состоянии опьянения					<div class="Links">

  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1,5 лет до 2 лет</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.8 ч.2</td>
  <td>
    Передача управления ТС лицу, находящемуся в состоянии опьянения					<div class="Links">

  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1,5 до 2 лет</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.8 ч.3</td>
  <td>
    Управление ТС в состоянии опьянения и не имеющим прав управления ТС, либо лишенным права управления ТС. 					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.8 ч.4</td>
  <td>
    Повторное совершение административного правонарушения, предусмотренного частью 1 или 2 статьи 12.8					<div class="Links">

  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>3 года </b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.9 ч.1</td>
  <td>
    Превышение установленной скорости на 10-20 км/ч.					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.9 ч.2</td>
  <td>
    Превышение установленной скорости на 20-40 км/ч					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>300</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.9 ч.3</td>
  <td>
    Превышение скорости на 40-60 км/ч					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1000</b> до <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.9 ч.4</td>
  <td>
    Превышение скорости более чем на 60 км/ч					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>2000</b> до <b>2500</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 4 до 6 месяцев</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.10 ч.1</td>
  <td>
    Грубое нарушение правил проезда ж/д переезда. Остановка или стоянка на ж/д переезде					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>500</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 3 до 6 месяцев</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.10 ч.2</td>
  <td>
    Нарушение правила проезда через ж/д переезды					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.10 ч.3</td>
  <td>
    Повторное нарушение правил проезда ж/д переезда. Повторная остановка или стоянка на ж/д переезде					<div class="Links">

  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>1 год</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.11 ч.1</td>
  <td>
    Движение по автомагистрали со скоростью ниже 40 км/ч или остановка на автомагистрали вне специальных площадок.					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.11 ч.2</td>
  <td>
    Движение на грузовом автомобиле с разрешенной максимальной массой более 3,5 тонны по автомагистрали далее второй полосы, а равно учебная езда по автомагистрали					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.11 ч.3</td>
  <td>
    Разворот или въезд ТС в технологические разрывы разделительной полосы на автомагистрали либо движение задним ходом по автомагистрали					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>300</b> до <b>500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.12 ч.1</td>
  <td>
    Проезд на запрещающий сигнал светофора или запрещающий жест регулировщика					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.12 ч.2</td>
  <td>
    Невыполнение правил ПДД об остановке перед стоп-линией					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>800</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.13 ч.1</td>
  <td>
    Выезд на перекресток во время затора и помешал поперечному движению					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.13 ч.2</td>
  <td>
    Не уступил дорогу ТС, пользующемуся преимущественным правом проезда перекрестков					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.14 ч.1</td>
  <td>
    Не подал сигнал (поворотник) перед началом движения, перестроением, поворотом, разворотом или остановкой					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.14 ч.1.1</td>
  <td>
    Не перестроился перед поворотом, разворотом, остановкой					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.14 ч.2</td>
  <td>
    Разворот или движение задним ходом					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.14 ч. 3</td>
  <td>
    Не уступил дорогу					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.15 ч.1</td>
  <td>
    Нарушение правил встречного разъезда, расположения на дороге или движение по обочинам					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.15 ч.2</td>
  <td>
    Движение по велосипедным или пешеходным дорожкам либо тротуарам					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.15 ч.3</td>
  <td>
    Выезд на встречную полосу при объезде препятствия					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1000</b> до <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.15 ч.4</td>
  <td>
    Выезд на встречную полосу, либо на трамвайные пути встречного направления					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 4 до 6 месяцев</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.15 ч.5</td>
  <td>
    Повторный выезд на встречную полосу, либо на трамвайные пути встречного направления					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>1 год</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.16 ч.1</td>
  <td>
    Несоблюдение правил разметки и дорожных знаком, если другие статьи не нарушены					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>300</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.16 ч.2</td>
  <td>
    Повернул налево или развернулся в нарушение требований знаков или разметки проезжей части					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1000</b> до <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.16 ч.3</td>
  <td>
    Движение во встречном направлении по дороге с односторонним движением					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 4 до 6 месяцев</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.16 ч.3.1</td>
  <td>
    Повторное совершение административного правонарушения - движение во встречном направлении по дороге с односторонним движением					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>1 год</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.16 ч.4</td>
  <td>
    Несоблюдение требований, предписанных дорожными знаками или разметкой, запрещающими остановку или стоянку.					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.16 ч.5</td>
  <td>
    Несоблюдение требований, предписанных дорожными знаками или разметкой, запрещающими остановку или стоянку в Москве или Санкт-Петербурге.					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>3000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.17 ч.1.1</td>
  <td>
    Движение и остановка ТС на полосе для маршрутных ТС					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.17 ч.1</td>
  <td>
    Не уступил дорогу ТС с синим маячком и звуковым сигналом					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>100</b> до <b>300</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.17 ч.1.2</td>
  <td>
    Движение и остановка ТС на полосе для маршрутных ТС в г.Москва и г.Санкт-Петербург					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>3000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.17 ч.2</td>
  <td>
    Не уступил ТС с цетовыми обозначениями, проблесковым маячком и звуковым сигналом					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>300</b> до <b>500</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 1 до 3 месяцев</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.18</td>
  <td>
    Не уступил дорогу пешеходам, велосипедистам					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>800</b> до <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.19 ч.1</td>
  <td>
    Нарушение правил остановки или стоянки ТС, кроме случаев ч.1 ст.12.10 и ч.2-4 ст.12.19					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>300</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.19 ч.2</td>
  <td>
    Остановка в месте, отведенном для остановки или стоянки ТС инвалидов					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>3000</b> до <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.19 ч.3</td>
  <td>
    Остановка или стоянка ТС на пешеходном переходе. Остановка или стоянка ТС на тротуаре, повлекшее создание препятствий для движения пешеходов					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.19 ч.3.1</td>
  <td>
    Остановка или стоянка ТС в местах остановки маршрутных ТС или ближе 15 метров от мест остановки					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.19 ч.3.2</td>
  <td>
    Остановка или стоянка ТС на трамвайных путях или стоянка ТС далее первого ряда от края проезжей части.					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.19 ч.4</td>
  <td>
    Остановка или стоянка на проезжей части, повлекшее создание препятствий для движения других ТС. Остановка или стоянка ТС в тоннеле					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.19 ч.5</td>
  <td>
    Нарушение правил остановки или стоянки ТС, кроме случаев ч.1 ст.12.10 и ч.2-4 ст.12.19 в г. Москва и г. Санкт-Петербург					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.19 ч.6</td>
  <td>
    Нарушения, предусмотренные частями 3-4 настоящей статьи, совершенные в городе федерального значения Москве или Санкт-Петербурге					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>3000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.20</td>
  <td>
    Не установил аварийный знак, не включил свет, аварийку.					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.21 ч.1</td>
  <td>
    Нарушение правил перевозки грузов, а равно правил буксировки					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.21.1 ч.1</td>
  <td>
    Перевозка крупногабаритных и тяжеловесных грузов без спец.разрешения и пропуска, а равно с отклонением от указанного маршрута					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>2000</b> до <b>2500</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 4 до 6 месяцев</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.21.1 ч.2</td>
  <td>
    Перевозка крупногабаритных грузов с превышением габаритов, указанных в специальном разрешении, более чем на 10 сантиметров					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1500</b> до <b>2000</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 2 до 4 месяцев</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.21.1 ч.3</td>
  <td>
    Перевозка тяжеловесных грузов с превышением разрешенных максимальной массы или нагрузки на ось, более чем на 5 процентов					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1500</b> до <b>2000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.21.1 ч.3.1</td>
  <td>
    Предоставление грузоотправителем недостоверных сведений о массе и габаритах груза					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.21.1 ч.4</td>
  <td>
    Нарушение правил перевозки крупногабаритных и тяжеловесных грузов, за исключением случаев, предусмотренных частями 1-3 настоящей статьи					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1000</b> до <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.21.1 ч.5</td>
  <td>
    Проезд ТС с превышением массы, предписанной дорожными знаками					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>2000</b> до <b>2500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.21.2 ч.1</td>
  <td>
    Перевозка опасных грузов водителем, не имеющим свидетельства о соответствующей подготовке водителей, свидетельства о допуске ТС к перевозке опасных грузов, согласованного маршрута или аварийной карточки системы информации об опасности, а равно перевозка опасных грузов на ТС, не предназначенном для перевозки данного вида грузов.					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>2000</b> до <b>2500</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 4 до 6 месяцев</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.21.2 ч.2</td>
  <td>
    Нарушение правил перевозки опасных грузов, за исключением случаев, предусмотренных частью 1 настоящей статьи					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1000</b> до <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.22</td>
  <td>
    Нарушение правил учебной езды водителем, обучающим вождению ТС					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>100</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.23 ч.1</td>
  <td>
    Нарушение правил перевозки людей					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.23 ч.2</td>
  <td>
    Перевозка людей вне кабины или вне предусмотренных конструкцией мест для сидения					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>500</b> до <b>700</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.24 ч.1</td>
  <td>
    Нарушение ПДД или правил эксплуатации ТС, повлекшее причинение легкого вреда здоровью потерпевшего					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1000</b> до <b>1500</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 1 года до 1,5 лет</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.24 ч.2</td>
  <td>
    Нарушение ПДД или правил эксплуатации ТС, повлекшее причинение средней тяжести вреда здоровью потерпевшего					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>2000</b> до <b>2500</b> рублей         или <br><b>лишение права управлять транспортными средствами</b> на срок <b>от 2 до 2,5 лет</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.25 ч.1</td>
  <td>
    Не предоставил ТС сотрудникам полиции					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>100</b> до <b>200</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.25 ч.2</td>
  <td>
    Невыполнение законного требования сотрудника полиции об остановке ТС					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>200</b> до <b>500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.25 ч.3</td>
  <td>
    Невыполнение законного требования должностного лица военной автомобильной инспекции об остановке транспортного средства Вооруженных Сил Российской Федерации, внутренних войск Министерства внутренних дел Российской Федерации, инженерно-технических, дорожно-строительных воинских формирований при федеральных органах исполнительной власти или спасательных воинских формирований федерального органа исполнительной власти, уполномоченного на решение задач в области гражданской обороны					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере от <b>200</b> до <b>500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.26 ч.1</td>
  <td>
    Невыполнение водителем законного требования сотрудника полиции о прохождении медицинского освидетельствования на состояние опьянения					<div class="Links">

  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1,5 до 2 лет</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.26 ч.2</td>
  <td>
    Невыполнение водителем, не имеющим права управления ТС либо лишенным права управления ТС, законного требования сотрудника полиции о прохождении медицинского освидетельствования на состояние опьянения					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>5000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.27 ч.1</td>
  <td>
    Не выполнил свои обязанности при ДТП					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.27 ч.2</td>
  <td>
    Оставление водителем в нарушение ПДД места дорожно-транспортного происшествия, участником которого он являлся					<div class="Links">

  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1 года до 1,5 лет</b>				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.27 ч.3</td>
  <td>
    Невыполнение требования ПДД о запрещении водителю употреблять алкогольные напитки, наркотические или психотропные вещества после ДТП, к которому он причастен, либо после того, как ТС было остановлено по требованию сотрудника полиции, до проведения освидетельствования в целях установления состояния опьянения или до принятия решения об освобождении от проведения такого освидетельствования					<div class="Links">

  </div>
  </td>
  <td>        <b>Лишение права управлять транспортными средствами</b> на срок <b>от 1,5 до 2 лет</b>				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.28 ч.1</td>
  <td>
    Нарушение правил, установленных для движения ТС в жилых зонах					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.28 ч.2</td>
  <td>
    Нарушение правил, установленных для движения ТС в жилых зонах в г. Москва и г. Санкт-Петербург					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>3000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.29 ч.1</td>
  <td>
    Нарушение пешеходом или пассажиром ТС ПДД 					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>200</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.29 ч.2 </td>
  <td>
    Нарушение ПДД лицом, управляющим мопедом, велосипедом, либо возчиком или другим лицом, непосредственно участвующим в процессе дорожного движения					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>200</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.29 ч.3</td>
  <td>
    Нарушение ПДД лицом, управляющим мопедом, велосипедом, либо возчиком или другим лицом, непосредственно участвующим в процессе дорожного движения, совершенное в состоянии опьянения					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>300</b> до <b>500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.30 ч.1</td>
  <td>
    Нарушение ПДД пешеходом, пассажиром ТС или иным участником дорожного движения (за исключением водителя ТС), повлекшее создание помех в движении ТС					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>300</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.30 ч.2</td>
  <td>
    Нарушение ПДД пешеходом, пассажиром ТС или иным участником дорожного движения (за исключением водителя ТС), повлекшее по неосторожности причинение легкого или средней тяжести вреда здоровью потерпевшего					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>1000</b> до <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.31 ч.1</td>
  <td>
    Выпуск на линию ТС, не зарегистрированного в установленном порядке или не прошедшего ТО					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.31.1 ч.1</td>
  <td>
    Осуществление перевозок пассажиров и багажа, грузов автомобильным транспортом и городским наземным электрическим транспортом с нарушением профессиональных и квалификационных требований, предъявляемых к работникам					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>20000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.31.1 ч.2</td>
  <td>
    Осуществление перевозок пассажиров и багажа, грузов автомобильным транспортом и городским наземным электрическим транспортом без предрейсовых и послерейсовых медицинских осмотров водителей ТС					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>3000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.31.1 ч.3</td>
  <td>
    Осуществление перевозок пассажиров и багажа, грузов автомобильным транспортом и городским наземным электрическим транспортом без предрейсового контроля технического состояния транспортных средств					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>3000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.31 ч.2</td>
  <td>
    Выпуск на линию ТС, имеющего неисправности, с которыми запрещена эксплуатация, или переоборудованного без соответствующего разрешения					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>500</b> до <b>1000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.31 ч.3</td>
  <td>
    Выпуск на линию ТС с подложными регистрационными знаками либо с установленными на передней его части световыми приборами с огнями,  режим работы которых не соответствуют требованиям Основных положений по допуску ТС к эксплуатации					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>15000</b> до <b>20000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.31 ч.4</td>
  <td>
    Выпуск на линию ТС с установленными на нем без разрешения устройствами для подачи специальных световых или звуковых сигналов (за исключением охранной сигнализации), а равно с незаконно нанесенными на его поверхности специальными цветографическими схемами автомобилей оперативных служб					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>20000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.32</td>
  <td>
    Допуск к управлению ТС водителя, находящегося в состоянии опьянения либо не имеющего права управления ТС					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>20000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.33</td>
  <td>
    Повреждение дорог, железнодорожных переездов или других дорожных сооружений					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>1500</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.34</td>
  <td>
    Несоблюдение требований по обеспечению безопасности дорожного движения при ремонте и содержании дорог, железнодорожных переездов или других дорожных сооружений					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>2000</b> до <b>3000</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.35</td>
  <td>
    Незаконное ограничение прав на управление транспортным средством и его эксплуатацию					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>2000</b> рублей				</td>
</tr>
<tr class="views-row-odd ">
  <td class="RowArticle">12.36.1</td>
  <td>
    Нарушение правил пользования телефоном водителем транспортного средства					<div class="Links">

  </div>
  </td>
  <td>        <b>Предупреждение</b>          или <br><b>штраф</b> в размере <b>300</b> рублей				</td>
</tr>
<tr class="views-row-even ">
  <td class="RowArticle">12.37 ч.1</td>
  <td>
    Управление в период, когда ОСАГО не действует или управление автомобилем лицом, не записанным в полис.					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере <b>300</b> рублей				</td>
</tr>
<tr class="views-row-odd views-row-last">
  <td class="RowArticle">12.37 ч.2</td>
  <td>
    Неисполнение обязанности по страхованию автогражданской ответственности, управление ТС без ОСАГО					<div class="Links">

  </div>
  </td>
  <td>        <b>Штраф</b> в размере от <b>500</b> до <b>800</b> рублей				</td>
</tr>
</tbody></table>
<div class="Reset"></div>			</div>