
<div>
<table class="table table-hover">
  <caption>Штрафы!</caption>
  <thead>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>SUM</th>
  </tr>
  </thead>
  <tbody>
  <%@json.each do |json|%>
      <tr class="fines">
        <td><input type="checkbox" disabled="disabled"><%= json["id"] %></td>
        <td><%= json["name"] %></td>
        <td><%= json["sum"] %></td>
      </tr>
  <%end%>
  </tbody>
  <tr>
    <td>Total:</td>
    <td id="total"></td>
    <td id="PayBtn"></td>
  </tr>
</table>

<div id="payBtn" style="text-align: center"><h4>Выберите штрафы для оплаты.</h4></div></div>

