<table class="table">
  <caption>Штрафы!</caption>
  <thead>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>SUM</th>
  </tr>
  </thead>
  <tbody>
  <%@json.each do |json|%>
      <tr class="fines">
        <td><%= json["id"] %></td>
        <td><%= json["name"] %></td>
        <td><%= json["sum"] %></td>
      </tr>
  <%end%>
  </tbody>
  <tr>
    <td>Total:</td>
    <td id="total"></td>
  </tr>
</table>


<Center> <script language='javascript' type='text/javascript'
        src='https://auth.robokassa.ru/Merchant/PaymentForm/FormV.js?
MrchLogin=demo&
OutSum=10.96&
InvId=0&
Desc=ROBOKASSA+Advanced+User+Guide&
Shp_code=Asp&
Shp_item=&
SignatureValue=1c980c5b65d4e60b0f395ea2ddf6ed16&
Culture=ru&
Encoding=utf-8' ></script> </Center>>
