<table class="table">
  <caption>Штрафы!</caption>
  <thead>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>SUM</th>
  </tr>
  </thead>
  <tbody>
  <%@json.each do |json|%>
      <tr class="fines">
        <td><%= json["id"] %></td>
        <td><%= json["name"] %></td>
        <td><%= json["sum"] %></td>
      </tr>
  <%end%>
  </tbody>
  <tr>
    <td>Total:</td>
    <td id="total"></td>
  </tr>
</table>